{
  "root": true,
  "plugins": [
    "prettier",
    "jasmine",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:jasmine/recommended"
  ],
  "rules": {
    "prettier/prettier": 2 ,
    "no-use-before-define": ["error", { "functions": true, "classes": true }],
    "no-var": "error",
    "prefer-const": "error"
  },
  "ignorePatterns": [
      "src/tests/**/*.ts",
      "node_modules",
      "spec",
      "build"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es6": true,
    "jasmine": true
  }
}